<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MeatDAO">

    <select id="findById" parameterType="int" resultType="com.hierarchy.app.Classes.Model.Meat">
        SELECT * FROM Meat WHERE idMeat = #{id}
    </select>

    <select id="getAll" resultType="com.hierarchy.app.Classes.Model.Meat">
        SELECT * FROM Meat
    </select>

    <insert id="insert" parameterType="com.hierarchy.app.Classes.Model.Meat">
        INSERT INTO Meat (idMeat, cut, brand,idProduct) VALUES (#{idMeat}, #{cut}, #{brand}, #{idProduct})
    </insert>

    <update id="update" parameterType="com.hierarchy.app.Classes.Model.Meat">
        UPDATE Meat SET cut = #{cut}, brand = #{brand} WHERE idMeat = #{idMeat}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM Meat WHERE idMeat = #{id}
    </delete>
</mapper>