<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="VegetableDAO">

    <select id="findById" parameterType="int" resultType="com.hierarchy.app.Classes.Model.Vegetables">
        SELECT * FROM Vegetables WHERE idVegetable = #{id}
    </select>

    <select id="getAll" resultType="com.hierarchy.app.Classes.Model.Vegetables">
        SELECT * FROM Vegetables
    </select>

    <insert id="insert" parameterType="com.hierarchy.app.Classes.Model.Vegetables">
        INSERT INTO Vegetables (idVegetable, vegName, brand, idProduct) VALUES (#{idVegetable}, #{vegName}, #{brand}, #{idProduct})
    </insert>

    <update id="update" parameterType="com.hierarchy.app.Classes.Model.Vegetables">
        UPDATE Vegetables SET vegName = #{vegName}, brand = #{brand} WHERE idVegetable = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM Vegetables WHERE idVegetable = #{id}
    </delete>
</mapper>